/*ダークモード対応系*/
:root {
    color-scheme: light dark;
}

/*スクロールバーのカスタマイズ関係*/
::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: light-dark(#c0c0c0,#535353);
	box-shadow: inset light-dark(#7b7b7b,#020202) 0 0 5px 1px;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb {
	background-color: #006600;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #339900;
}



/* ボタンは画像がないので分かりにくくなりそう
::-webkit-scrollbar-button {
	background-color: yellow;
}
*/

/*画面遷移時のフェードアニメーション*/
@view-transition {
	navigation: auto;
}

/* フェードアウト・フェードインのアニメーション */
@keyframes fade-out {
	from {
	  opacity: 1;
	}
	to {
	  opacity: 0;
	}
}
  
@keyframes fade-in {
	from {
	  opacity: 0;
	}
	to {
	  opacity: 1;
	}
}
  
/* 旧ページはフェードアウト */
::view-transition-old(root) {
	animation: 0.4s ease-in both fade-out;
}
  
/* 新ページはフェードイン */
::view-transition-new(root) {
	animation: 0.4s ease-in both fade-in;
}
  

body {

	font-family: "LINE_Rg","Roboto","Noto Sans JP","SF Pro","Helvetica","Arial","メイリオ",sans-serif;

	/*ダークモード対応系*/
	background-color: light-dark(#ffffff,#1f1f1f);
	color: light-dark(#000000,#bbbbbb);
}


body ::selection {
	background-color : rgba(153, 153, 153, 0.60);
}
/*FireFox対応*/
body ::-moz-selection {
	background-color : rgba(153, 153, 153, 0.60);
}


@font-face {
 font-family: "LINE_Rg";
 font-weight: 400;
 src: url(fonts/LINESeed_JP/LINESeedJP_OTF_Rg.woff) format("woff");
}

@font-face {
	font-family: "Mario_U";
	font-weight: 400;
	src: url(fonts/NewSuperMarioFontU.ttf) format("truetype");
   }


.header {
	/*background-color: black;*/
	background: linear-gradient(135deg, #023703, #061a01, #000000);
	overflow: hidden;
	border-radius: 100px;
	box-shadow: light-dark(#3434349e,#bcbcbcc7) 0px 4px 20px 1px;
}

.header h2 {
	color: white;
	display: block;
	float: left;
	text-align: center;
}

.header a {
	font-weight: bold; 
	font-size: large;
	line-height: 150%;
	color: white;
	display: block;
	cursor: pointer;
	float: left;
	padding: 1em 1.5em;
	text-align: center;
	text-decoration: none;
	/*画像サイズとの関係でボタン下部に謎の余白があったので*/
	height: 32px;
}

.header a:hover {
	background-color: gold;
	color: black;
}


a {
    text-decoration: none;
    color: #339900;
    font-weight: bold;
}

.header img {
	transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.header img:hover {
	transform: scale(1.5);
}

iframe {
	border: none;
}


a:hover {
    text-decoration: none;
    color: #006600;
}

.content h2 {
	font-weight: bold; 
	font-size: 24px;
	color: light-dark(Black,#bbbbbb);
	text-align: center;
}


.content-img {
	position: relative;/*親要素にrelative*/
	border-radius: 20px;
	box-shadow: light-dark(#60a66087,#efefefb8) 0px 1px 10px 2px;
	cursor: pointer;
	overflow: hidden;
}

.content-img p{
	position: absolute; /*子要素にabsolute*/
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.8rem;
    margin: 0 !important;
    padding: 9px !important;
    background: #73c05787;
	border: 2px solid #fafafa9e;
    border-radius: 20px;
    box-shadow: #9c9c9c80 0px 0px 10px 3px;
    backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}

.content-img img {
	object-fit: cover;
	transition: transform 0.3s;
}

.content-img:hover img {
	transform: scale(1.2);
}

.content button {
	width: 30%;
	border-radius: 15px;
	border: solid;
    border-width: 2px;
    border-color: light-dark(#7a947a,#bbbbbb);
	box-shadow: light-dark(#cedfcea6,#4b4b4bb8) 0px 1px 8px 6px;
	cursor: pointer;
	background-color: #90b890e3;
    color: #ffffff;
	padding: 0px;
	transition: all .5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.content button:hover {
	width: 35%;
	background-color: #e3ffe3e3;
    color: #555555;
}


.top-title  h1 {
	font-family: "Mario_U","LINE_Rg";
	font-size: 32px;
}


.top-title  video {
	border-radius: 20px;
	box-shadow: light-dark(rgba(0, 0, 0, 0.7),#bbbbbb) 3px 3px 10px;
}


.madeby { 
	font-size: x-small;
	color: gray;
	text-align: center;
	float: center;
}


/*Googleカスタム検索の親要素*/
.search-parent  {
	width: 100% !important;
	max-width: 500px !important;
	margin: 0 auto !important;
}


/* 上に戻るボタン
   https://webparts.cman.jp/button/gotop/ を参考に作成しました
*/
.topIcon {
	display       : inline-block;
	position      : fixed;       /* ボタン固定 */
	bottom        : 20px;        /* 下から位置 */
	right         : 19px;        /* 右から位置 */
	padding       : 21px 21px;   /* 余白       */
	background    : light-dark(rgba(0, 51, 0, 0.3), rgba(51, 153, 0, 0.3));     /* 背景色     */
	color         : light-dark(#ffffff,#bbbbbb);     /* 文字色     */
	/* opacity       : 0.5;          透明度     */
	border-radius : 33%;        /* 角丸       */
	font-size     : 12pt;        /* 文字サイズ */
	font-weight   : bold;        /* 太字       */
	line-height   : 1.2em;       /* 行の高さ   */
	letter-spacing: 2px;         /* 文字間隔   */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	z-index       : 999;         /* 重ね順位   */
	backdrop-filter: blur(4px); /*ブラー効果（修正済み）*/
	-webkit-backdrop-filter: blur(4px); /*safariなど対応*/
	box-shadow: light-dark(rgba(0, 51, 0, 0.3), rgba(51, 153, 0, 0.3)) 0px 1px 10px 0px; /*ちょっと影*/
  }
  
  .topIcon:hover {
	background    : light-dark(rgba(0, 51, 0, 0.5),rgba(51, 153, 0, 0.5));     /* カーソル時背景色 */
	/* opacity       : 0.9;    カーソル時透明度 */
  }


  .member-zone {
	display: grid;
    grid-template-columns: 50% 50%;
  }

  .member {
	display: flex;
	height: auto;
	margin: 10px 10px 10px;
	padding: 10px 10px;
	background-color: light-dark(#dcdcdc,#333333);
	border-style: dotted;
	border-width: 2px;
	border-color: light-dark(#333333,#dcdcdc);
	border-radius: 15px;
	box-shadow: light-dark(#cedfcea6,#4b4b4bb8) 0px 1px 8px 6px;
  }


  h1 {
	font-size: 32px;
  }

  h2 {
	font-size: 24px;
  }

  h3 {
	font-size: 18px;
  }