body.light {
    --primary: #c9a24d;
    --on-primary: #ffffff;
    --primary-container: #e5e5e5;
    --on-primary-container: #410001;
    --secondary: #775652;
    --on-secondary: #ffffff;
    --secondary-container: #e6c97a;
    --on-secondary-container: #0b5d3b;
    --tertiary: #705c2e;
    --on-tertiary: #ffffff;
    --tertiary-container: #fcdfa6;
    --on-tertiary-container: #261a00;
    --error: #ba1a1a;
    --on-error: #ffffff;
    --error-container: #e9bcb7;
    --on-error-container: #410002;
    --background: #ffffff;
    --on-background: #201a19;
    --surface: #fff8e8;
    --on-surface: #0b5d38;
    --surface-variant: #c50c23;
    --on-surface-variant: #ffffff;
    --outline: #857370;
    --outline-variant: #d8c2be;
    --shadow: #000000;
    --scrim: #000000;
    --inverse-surface: #362f2e;
    --inverse-on-surface: #fbeeec;
    --inverse-primary: #ffb4a9;
    --surface-dim: #e4d7d5;
    --surface-bright: #fff8f7;
    --surface-container-lowest: #ffffff;
    --surface-container-low: #faf7f2;
    --surface-container: #f9f6f1;
    --surface-container-high: #fff8e8;
    --surface-container-highest: #ede0de;
}