body {
    cursor: url(Star-Pointer.cur), default !important;
}

button {
    cursor: url(Star-Pointer.cur), default !important;
}

body ::selection {
	background-color : #6f43c096;
}
/*FireFox対応*/
body ::-moz-selection {
	background-color : #6f43c096;
}